body {
  margin: 0;
}

#col {
  float: left;
}

#group {
  position: relative;
  float: left;
}

#hall {
  position: absolute;
}

#map {
  width: 784px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 5px solid gray;
  background-image: url("../Img/map.png");
}

#seat {
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 1px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}
  #seat.hidden {
    background-color: transparent;
    border-color: transparent;
  }
  #seat.hidden:hover {
    /*box-shadow: 0 0 0;*/
  }
  #seat.empty {
    background-color: #fff;
    border-color: #ccc;
  }
  #seat.taken {
    background-color: #999;
    border-color: #888;
  }
  #seat.online {
    background-color: #55f;
    border-color: #11c;
  }
  #seat.playing {
    background-color: #2f2;
    border-color: #0c0;
  }
  #seat.crew {
    background-color: #f1f442;
    border-color: #ced136;
  }
  #seat.vip {
    background-color: #ffca92;
    border-color: #ff8400;
  }
  #seat:hover {
    box-shadow: 0 0 4px #aaa;
  }
